.btn-round {
	linkColor(white, black)
	transition: all 0.3s linear
	background-color: $main-green
	border-radius: 30px
	outline: none
	display: inline-block
	font-family: "MontserratBold"
	font-size: 16px
	text-transform: uppercase
	padding 22px 28px
	&:hover,
	&:focus,
	&:active {
		background-color: white
	}
}
.btn-text
	linkColor($main-green, $main-green)
	font-family: "MontserratBold"
	font-size: 16px
	text-transform: uppercase
	&_arrow-right
		background-image: url("../images/icon-arrow-right.png")
		background-position: right center
		background-repeat: no-repeat
		padding-right: 20px
.btn-rect
	linkColor(white, $main-green)
	transition: all 0.3s linear
	background-color: $main-green
	border: 3px solid white
	border-radius: 6px
	outline: none
	cursor: pointer
	font-family: "MontserratBold"
	font-size: 16px
	text-transform: uppercase
	padding: 14px 32px
	&:hover,
	&:focus,
	&:active {
		background-color: white
	}