.header
	padding: 40px 0
	height: auto

	&__container
		display: flex
		align-items: center
		justify-content: space-between

	&__nav
		display: flex

	&__nav-item
		margin: 0 17px

	&__nav-link
		linkColor($main-gray, black)
		transition: color 0.3s linear
		font-size: 14px
		text-transform: uppercase