.services
	padding: 90px 0 40px
	
	&__title
		margin-bottom: 80px

	&__list
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		justify-content: center

	&__list-item
		margin-bottom: 40px 
		padding: 0 20px 
		width: 33%
		&:nth-child(1)
			.services__list-img
				background-image: url("../images/icon-heart.png")
		&:nth-child(2)
			.services__list-img
				background-image: url("../images/icon-mobile.png")
		&:nth-child(3)
			.services__list-img
				background-image: url("../images/icon-graph.png")

	&__list-img
		background-repeat: no-repeat
		background-position: center
		margin-bottom: 30px
		height: 60px

	&__list-heading
		margin-bottom: 16px