* 
	box-sizing border-box
  	&:before,
  	&:after
    	box-sizing border-box
  
html 
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	line-height 1.5

body 
	font-family: "MontserratReg"
	position relative

section
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative

a
	text-decoration: none