@font-face
    font-family: "MontserratReg"
    src: url("../fonts/montserrat/montserrat-regular.eot")
    src: url("../fonts/montserrat/montserrat-regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url("../fonts/montserrat/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/montserrat-regular.ttf") format("truetype"),
    url('../fonts/montserrat/montserrat-regular.svg#svgFontName') format('svg')
    font-style: normal
    font-weight: normal

@font-face
    font-family: "MontserratBold"
    src: url("../fonts/montserrat/montserrat-bold.eot")
    src: url("../fonts/montserrat/montserrat-bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url("../fonts/montserrat/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-bold.ttf") format("truetype"),
    url('../fonts/montserrat/montserrat-bold.svg#svgFontName') format('svg')
    font-style: normal
    font-weight: normal

@font-face
    font-family: "RSReg"
    src: url("../fonts/robotoslab/robotoslab-regular.eot")
    src: url("../fonts/robotoslab/robotoslab-regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/robotoslab/robotoslab-regular.woff2') format('woff2'),
    url("../fonts/robotoslab/robotoslab-regular.woff") format("woff"),
    url("../fonts/robotoslab/robotoslab-regular.ttf") format("truetype"),
    url('../fonts/robotoslab/robotoslab-regular.svg#svgFontName') format('svg')
    font-style: normal
    font-weight: normal

@font-face
    font-family: "RSBold"
    src: url("../fonts/robotoslab/robotoslab-bold.eot")
    src: url("../fonts/robotoslab/robotoslab-bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/robotoslab/robotoslab-bold.woff2') format('woff2'),
    url("../fonts/robotoslab/robotoslab-bold.woff") format("woff"),
    url("../fonts/robotoslab/robotoslab-bold.ttf") format("truetype"),
    url('../fonts/robotoslab/robotoslab-bold.svg#svgFontName') format('svg')
    font-style: normal
    font-weight: normal