extends templates/layout

block vars
    - var title = 'Main'

block content
    section.intro.ta-center
        div.container.intro__container
            p.heading.heading_xxl.intro__heading.
                Creative Digital<br> Solutions
            p.text.text_m.intro__title.
                Proin iaculis purus consequat sem cure.
            a.btn-round(href="").
                View Portfolio
    section.services.ta-center
        div.container
            p.heading.heading_xl.services__heading.
                Professional Services
            p.text.text_m.text_gray.services__title.
                Proin iaculis purus consequat sem cure
            ul.services__list
                li.services__list-item
                    div.services__list-img
                    p.heading.heading_m.services__list-heading.
                        beautiful designs
                    p.text.text_xs.text_gray.services__list-description.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
                li.services__list-item
                    div.services__list-img
                    p.heading.heading_m.services__list-heading.
                        responsive web
                    p.text.text_xs.text_gray.services__list-description.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
                li.services__list-item
                    div.services__list-img
                    p.heading.heading_m.services__list-heading.
                        Marketing tools
                    p.text.text_xs.text_gray.services__list-description.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    section.features
        div.container.features__container
            div.features__item.features__item_left
            div.features__item.features__item_right
                div.features__content
                    p.heading.heading_xl.features__heading.
                        Just relax <span class="color color_main-green">&</span><br> let us do the heavy lifting
                    p.text.text_s.features__title.
                        Proin iaculis purus consequat sem cure digni ssim. Donec<br> porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.
                    ul.features__list
                        li.features__list-item.
                            Initial Setup & Customizations
                        li.features__list-item.
                            Regular Updates
                        li.features__list-item.
                            Round The Clock Support
                    a.btn-round(href="").
                        Learn more
    section.project.ta-center
        div.container.project__container
            p.heading.heading_xl.project__heading.
                latest project
            p.text.text_m.text_gray.project__title.
                Proin iaculis purus consequat sem cure
            div.project__description
                p.heading.heading_m.project__description-heading.
                    Developing a framework
                p.text.text_s.text_gray.project__description-title.
                    Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt.
                ul.project__list
                    li.project__list-item
                        div.project__list-elem
                            div.project__list-img
                        div.project__list-elem
                            p.title.title_m.
                                E-Commerce Ready
                            p.text.text_s.text_gray.
                                Proin iaculis purus consequat sem cure  digni ssim.
                    li.project__list-item
                        div.project__list-elem
                            div.project__list-img
                        div.project__list-elem
                            p.title.title_m.
                                Powerful SEO Features
                            p.text.text_s.text_gray.
                                Proin iaculis purus consequat sem cure  digni ssim.
                    li.project__list-item
                        div.project__list-elem
                            div.project__list-img
                        div.project__list-elem
                            p.title.title_m.
                                Secure Encryption
                            p.text.text_s.text_gray.
                                Proin iaculis purus consequat sem cure  digni ssim.
                p.text.text_s.text_gray.project__description-title.
                    Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit  aenean rhoncus posuere odio in.
                a.btn-text.btn-text_arrow-right(href="").
                    View Details
    section.culture.ta-center
        div.container.culture__container
            p.heading.heading_xl.culture__heading.
                culture & Values
            p.text.text_m.text_gray.culture__title.
                Proin iaculis purus consequat cure.
            ul.culture__list
                li.culture__list-item
                    div.culture__list-img
                    p.heading.heading_m.culture__list-heading.
                        Work-Life Balance
                    p.text.text_xs.text_gray.culture__list-text.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
                li.culture__list-item
                    div.culture__list-img
                    p.heading.heading_m.culture__list-heading.
                        Work-Life Balance
                    p.text.text_xs.text_gray.culture__list-text.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
                li.culture__list-item
                    div.culture__list-img
                    p.heading.heading_m.culture__list-heading.
                        Work-Life Balance
                    p.text.text_xs.text_gray.culture__list-text.
                        Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
    section.clients.ta-center
        div.container.clients__container
            p.heading.heading_xl.clients__heading.
                our awesome clients
            p.text.text_m.text_gray.clients__title.
                Proin iaculis purus consequat sem cure.
            ul.clients__comments
                li.clients__comment
                    div.clients__comment-img
                    div.clients__comment-block
                        div.clients__comment-text.
                            Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus.
                        p.clients__comment-name.
                            Jamie Richardson, Founder of Cocoa Media
                li.clients__comment
                    div.clients__comment-img
                    div.clients__comment-block
                        div.clients__comment-text.
                            Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus.
                        p.clients__comment-name.
                            Jamie Richardson, Founder of Cocoa Media
    section.feedback.ta-center
        div.container.clients__container
            p.heading.heading_xl.feedback__heading.
                ready to talk about your next project?
            button.btn-rect.
                Contact us
    section.partners.ta-center
        div.container.partners__container
            a.partners__item(href="")
                img.partners__item-img(src="images/envato.png", alt="")
            a.partners__item(href="")
                img.partners__item-img(src="images/wordpress.png", alt="")
            a.partners__item(href="")
                img.partners__item-img(src="images/tuts.png", alt="")
            a.partners__item(href="")
                img.partners__item-img(src="images/microlancer.png", alt="")





