footer.footer
	div.footer__top
		div.container.footer__container
			ul.footer__list.footer__list_contacts
				li.footer__list-item.footer__list-item_head.
					Contact Us
				li.footer__list-item
					a.footer__list-link(href="").
						55 Main St.<br> Toronto, ON<br> M1H 3A5
				li.footer__list-item
					a.footer__list-link(href="").
						(416) 555-5252
				li.footer__list-item
					a.footer__list-link(href="mailto:hello@treehouse.com").
						hello@treehouse.com
			ul.footer__list.footer__list_posts
				li.footer__list-item.footer__list-item_head.
					Latest Posts
				li.footer__list-item
					a.footer__list-link(href="").
						Made With Love In Toronto
				li.footer__list-item
					a.footer__list-link(href="").
						Startup News & Emerging Tech
				li.footer__list-item
					a.footer__list-link(href="").
						Bitcoin Will Soon Rule The World
				li.footer__list-item
					a.footer__list-link(href="").
						Wearable Technology On The Rise
				li.footer__list-item
					a.footer__list-link(href="").
						Learn Web Design In 30 Days!
			ul.footer__list.footer__list_tweets
				li.footer__list-item.footer__list-item_head.
					Latest Posts
				li.footer__list-item
					a.footer__list-link(href="").
						Confucius: Life is really simple,but we insist on making it complicated.
						span.
					span.footer__list-tags
						a.footer__list-link-tag(href="").
							#famousquotes
					span.footer__list-time.
						8 mins ago
				li.footer__list-item
					a.footer__list-link(href="").
						Grab the Free Treehouse web template at FreebiesXpress!
					span.footer__list-tags
						a.footer__list-link-tag(href="").
							#freebies
						a.footer__list-link-tag(href="").
							#templates
					span.footer__list-time.
						2 days ago


	div.footer__bottom
		div.container.footer__container-bottom.ta-center
			p.footer__copyright.
				© Copyright 2014 FreebiesXpress.com
			ul.footer__social
				li.footer__social-item
					a.footer__social-link(href="")
				li.footer__social-item
					a.footer__social-link(href="")
				li.footer__social-item
					a.footer__social-link(href="")
				li.footer__social-item
					a.footer__social-link(href="")

		