header.header
	div.container.header__container
		div.header__item.header__item_logo
			a.header__logo-link
				img.header__logo-img(src="images/header-logo.png", alt="treehouse")
		div.header__item.header__item_nav
			ul.header__nav
				li.header__nav-item
					a.header__nav-link(href="").
						home
				li.header__nav-item
					a.header__nav-link(href="").
						about
				li.header__nav-item
					a.header__nav-link(href="").
						blog
				li.header__nav-item
					a.header__nav-link(href="").
						portfolio
				li.header__nav-item
					a.header__nav-link(href="").
						contact






